{% extends "base.html" %}

{% block title %}
Calender
{% endblock %}
{% block body %}

    <div class="mb-4">
        <div class="flex-col m-5">
            <div class="border-4 rounded-lg border-[#E85A4F] grid grid-cols-2 p-5">
                <h1 class="text-[#E98074] text-4xl font-bold col-span-1">Lorem Ipsum</h1>
                <div class="grid grid-rows-2 grid-cols-2">
                    <h1 class="text-[#E98074] text-3xl font-bold text-center col-span-2 col-start-2">Aaron David</h1>
                    <button class="items-end bg-[#E85A4F] col-span-2 col-start-2 text-white">Lock-in slots.</button>
                </div>
            </div>
            <div class="border-4 rounded-lg border-[#E85A4F] grid grid-cols-7 p-5 bg-[#E98074] text-white overflow-auto">
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Sunday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Monday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Tuesday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Wednesday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Thursday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Friday</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl">Saturday</div>

                <div class="border-white border-2 p-1 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">28</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-1 rounded-l m-1 text-xs text-center grid grid-cols-3 grid-rows-2">
                    <div class="col-span-3 text-2xl">29</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Afternoon</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-1 rounded-l m-1 text-xs text-center grid grid-cols-2 grid-rows-3">
                    <div class="col-span-2 text-2xl">30</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Early Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-1 rounded-l m-1 text-xs text-center grid grid-cols-3 grid-rows-3">
                    <div class="col-span-3 text-2xl">31</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Past Mid-Night</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Early Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Afternoon</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Evening</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>

                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">1</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">2</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">3</div>

                <div class="col-span-7 text-4xl text-center bg-[#E85A4F] text-white border-4 border-white rounded-full">AUGUST</div>

                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">28</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">29</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">30</div>
                <div class="border-white border-2 p-10 rounded-l m-1 text-center text-2xl bg-[#E85A4F] text-black">31</div>

                <div class="border-white border-2 p-1 rounded-l m-1 text-xs text-center grid grid-cols-4 grid-rows-3">
                    <div class="col-span-4 text-2xl">1</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">1</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">2</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">3</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">4</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">5</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">6</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">7</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">8</button>
                </div>

                <div class="border-white border-2 p-1 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">2</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-1 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">3</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-4 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">4</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-4 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">5</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-4 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">6</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-4 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">7</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>
                <div class="border-white border-2 p-4 rounded-l m-1 text-center grid grid-cols-2 grid-rows-2">
                    <div class="col-span-2 text-2xl">8</div>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Morning</button>
                    <button class="bg-[white] text-[#E85A4F] rounded-full">Night</button>
                </div>

                <div class="col-span-7 text-4xl text-center bg-[#E85A4F] text-white border-4 border-white rounded-full">AUGUST</div>
            </div>
        </div>
    </div>

{% endblock %}
