{% extends "base.html" %}

{% block title %}
How to Use "Let's Hangout"!
{% endblock %}
{% block body %}
    <div class="bg-gray-100 text-gray-800">
    <div class="mb-4">
        <div class="m-11 text-white"> 
            <h1 class="p-10 font-mono bg-[#E98074] text-center text-5xl rounded-full hover:bg-[#E85A4F] hover:font-sans">
                How to use Let's Hangout?
            </h1>
        </div>
        <div class="m-11 p-2 rounded-3xl bg-[#E98074] grid grid-cols-3 grid-rows-3">
            <div class="m-2 p-5 col-span-2 col-start-1 col-end-3 row-start-1 row-end-1 bg-white rounded-full text-left font-mono hover:font-sans">
                <h1 class="text-xl">Why should you use Let's Hangout?</h1>
                <p>Our website allows for collaborative planning of events where people can come togehter and use the same code to enter their free slots, and the website provides a summary. Use our UI to navigate to the right pages and get the information required!</p>
            </div>
            
            <div class="m-2 p-5 col-span-2 col-start-2 col-end-4 row-start-2 row-end-2 bg-white rounded-full text-right font-mono hover:font-sans">
                <h1 class="text-xl">How do I create and share a code?</h1>
                <p>On the home page, click on new code, and set up the parameters, and it will generate a text code for you. Share with will all your friends to do the scheduling!</p>
            </div>
            
            <div class="m-2 p-5 col-span-2 col-start-1 col-end-3 row-start-3 row-end-3 bg-white rounded-full text-left font-mono hover:font-sans">
                <h1 class="text-xl">How do I use a code?</h1>
                <p>If you have an existing code, click on enter code, enter the code, and perform the steps as requested by the website!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
