<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Use Let's Hangout</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800">

    <div class="mb-4">
        <div class="m-11 text-white"> 
            <h1 class="p-10 font-mono bg-[#E98074] text-center text-5xl rounded-full hover:bg-[#E85A4F] hover:font-sans">
                How to use Let's Hangout?
            </h1>
        </div>
        <div class="m-11 p-2 rounded-3xl bg-[#E98074] grid grid-cols-3 grid-rows-3">
            <div class="m-2 p-5 col-span-2 col-start-1 col-end-3 row-start-1 row-end-1 bg-white rounded-full text-left font-mono hover:font-sans">
                <h1 class="text-xl">Why should you use Let's Hangout?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsam minus veniam labore iste blanditiis fuga libero tenetur laborum eos pariatur corporis et, eveniet, nobis vitae excepturi, asperiores quod eius!</p>
            </div>
            
            <div class="m-2 p-5 col-span-2 col-start-2 col-end-4 row-start-2 row-end-2 bg-white rounded-full text-right font-mono hover:font-sans">
                <h1 class="text-xl">Why should you use Let's Hangout?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsam minus veniam labore iste blanditiis fuga libero tenetur laborum eos pariatur corporis et, eveniet, nobis vitae excepturi, asperiores quod eius!</p>
            </div>
            
            <div class="m-2 p-5 col-span-2 col-start-1 col-end-3 row-start-3 row-end-3 bg-white rounded-full text-left font-mono hover:font-sans">
                <h1 class="text-xl">Why should you use Let's Hangout?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ipsam minus veniam labore iste blanditiis fuga libero tenetur laborum eos pariatur corporis et, eveniet, nobis vitae excepturi, asperiores quod eius!</p>
            </div>
        </div>
    </div>

</body>
</html>
